@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: white;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 1px solid lightpink;
    margin-bottom: 0.5rem;
}

.successmsg {
    background-color: white;
    color: rgb(4, 108, 4);
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 1px solid limegreen;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.links {
    padding-top: 10px;
    text-align: right;
    background-color: #4ca1f5;
}

.links li {
    display: inline;
    padding: 0px 30px 0px 0px;
}

.links a {
    text-decoration: none;
    color: white;
}